In [2]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import matplotlib
from matplotlib import pyplot as plt
# import seaborn as sns
%matplotlib inline

In [3]:
data_all = pd.read_csv("../datasources/jeuxvideos/meilleursjeuvideo.csv")

In [4]:
data_all.describe()

,Jeux,Description,Sortie,Test,Avis
count,200,197,200,200,187
unique,200,197,172,3,41
top,Tearaway sur Vita,"Dans The Legend of Zelda : The Wind Waker, vou...",1993,19/20,18.7/20
freq,1,1,6,123,14

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test = train_test_split(data_all)

In [7]:
X_train.describe()

,Jeux,Description,Sortie,Test,Avis
count,150,147,150,150,139
unique,150,147,132,3,38
top,Divinity : Original Sin II - Definitive Edition,Dans le jeu de rôle Phantasy Star IV sur Conso...,1994,19/20,18.7/20
freq,1,1,5,91,9

In [8]:
X_test.describe()

,Jeux,Description,Sortie,Test,Avis
count,50,50,50,50,48
unique,50,50,45,2,28
top,Tearaway sur Vita,God of War est un jeu d'action mythologique su...,1993,19/20,18.4/20
freq,1,1,3,32,5

In [9]:
X_train.head()

,Jeux,Description,Sortie,Test,Avis
157,Red Dead Redemption,Red Dead Redemption est un jeu d'action en mon...,21 mai 2010,18/20,18.3/20
185,Silver,Silver sur PC est un jeu de rôle à dominante d...,Avril 1999,18/20,18.4/20
84,Metroid Prime sur NGC,Metroid Prime est un jeu d'action en vue à la ...,21 mars 2003,19/20,18.6/20
156,Unreal,Unreal est un jeu de tir à la première personn...,30 mai 1998,18/20,18.7/20
59,Okami HD sur PS3,Okami HD est un jeu d'aventure et d'action sur...,31 octobre 2012,19/20,NaN

In [36]:
[X_train['Test'].str.split('/')[i][0] for i in X_train['Test'].index]

['18',
 '18',
 '19',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '18',
 '19',
 '18',
 '18',
 '19',
 '19',
 '18',
 '19',
 '19',
 '18',
 '19',
 '19',
 '18',
 '18',
 '19',
 '19',
 '18',
 '19',
 '19',
 '20',
 '18',
 '19',
 '18',
 '19',
 '19',
 '18',
 '18',
 '19',
 '18',
 '19',
 '18',
 '19',
 '19',
 '19',
 '19',
 '18',
 '19',
 '19',
 '19',
 '19',
 '18',
 '20',
 '19',
 '19',
 '19',
 '18',
 '18',
 '19',
 '18',
 '18',
 '19',
 '19',
 '18',
 '19',
 '19',
 '19',
 '19',
 '18',
 '19',
 '19',
 '20',
 '19',
 '19',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '18',
 '19',
 '18',
 '19',
 '18',
 '18',
 '19',
 '19',
 '18',
 '18',
 '19',
 '19',
 '19',
 '18',
 '19',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '18',
 '18',
 '18',
 '19',
 '18',
 '19',
 '19',
 '19',
 '19',
 '18',
 '19',
 '18',
 '19',
 '18',
 '19',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '18',
 '18',
 '18',
 '19',
 '18',
 '18',
 '19',
 '18',
 '18']

In [36]:
X_train.head()

,Jeux,Description,Sortie,Test,Avis
139,Castlevania : Order of Ecclesia sur DS,Dracula refait surface alors que le clan Belmo...,27 novembre 2008,18/20,NaN
192,Dungeon Keeper 2 sur PC,Dungeon Keeper 2 est un jeu de stratégie sorti...,Juillet 1999,18/20,18/20
175,Divinity : Original Sin,"Jeu de rôle au tour par tour, Divinity : Origi...",30 juin 2014,18/20,16.8/20
187,Virtua Fighter 4 Evolution,Virtua Fighter 4 Evolution est un jeu de comba...,20 juin 2003,18/20,16.4/20
5,Kingpin : Life of Crime sur PC,Kingpin : Life of Crime est un jeu de tir à la...,Août 1999,19/20,17.5/20

In [30]:
X_train['Test'].str.split('/')[1][0]

'20'