## Jeu de test

In [136]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
train = pd.read_csv("./data/train.csv")
test = pd.read_csv("./data/test.csv")

## Création d'une fonction de préparation (à partir des éléments précédents)

In [137]:
def dataprep(data):
    sexe = pd.get_dummies(data['Sex'], prefix='sex')
    cabin = pd.get_dummies(data['Cabin'].fillna('X').str[0], prefix='Cabin')
    age = data['Age'].fillna(data['Age'].mean())
    emb = pd.get_dummies(data['Embarked'], prefix='emb')
    fare = data['Fare'].fillna(0) # 1 donnée de test n'a pas de Prix !
    dp = data[['Pclass', 'SibSp']].join(cabin).join(sexe).join(age).join(emb).join(fare)
    return dp

In [138]:
Xtrain = dataprep(train)
Xtest = dataprep(test)

## Entrainement du modèle

In [139]:
y = train.Survived
rf = RandomForestClassifier(n_estimators=100, random_state=0, max_features=2)
rf.fit(Xtrain, y)
p_tr = rf.predict(Xtrain)
print ("Score Train -->", round(rf.score(Xtrain, y) *100,2), " %")

Score Train --> 98.54  %

## Formattage des résultats pour Kaggle ;-)

In [140]:
Xtrain.head()

,Pclass,SibSp,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,sex_female,sex_male,Age,emb_C,emb_Q,emb_S,Fare
0,3,1,0,0,0,0,0,0,0,0,1,0,1,22.0,0,0,1,7.2500
1,1,1,0,0,1,0,0,0,0,0,0,1,0,38.0,1,0,0,71.2833
2,3,0,0,0,0,0,0,0,0,0,1,1,0,26.0,0,0,1,7.9250
3,1,1,0,0,1,0,0,0,0,0,0,1,0,35.0,0,0,1,53.1000
4,3,0,0,0,0,0,0,0,0,0,1,0,1,35.0,0,0,1,8.0500

In [141]:
Xtest.head()

,Pclass,SibSp,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_X,sex_female,sex_male,Age,emb_C,emb_Q,emb_S,Fare
0,3,0,0,0,0,0,0,0,0,1,0,1,34.5,0,1,0,7.8292
1,3,1,0,0,0,0,0,0,0,1,1,0,47.0,0,0,1,7.0000
2,2,0,0,0,0,0,0,0,0,1,0,1,62.0,0,1,0,9.6875
3,3,0,0,0,0,0,0,0,0,1,0,1,27.0,0,0,1,8.6625
4,3,1,0,0,0,0,0,0,0,1,1,0,22.0,0,0,1,12.2875

In [142]:
Xtest.describe()

,Pclass,SibSp,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_X,sex_female,sex_male,Age,emb_C,emb_Q,emb_S,Fare
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,2.265550,0.447368,0.016746,0.043062,0.083732,0.031100,0.021531,0.019139,0.002392,0.782297,0.363636,0.636364,30.272590,0.244019,0.110048,0.645933,35.541956
std,0.841838,0.896760,0.128474,0.203240,0.277317,0.173797,0.145320,0.137177,0.048912,0.413179,0.481622,0.481622,12.634534,0.430019,0.313324,0.478803,55.867684
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,23.000000,0.000000,0.000000,0.000000,7.895800
50%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,30.272590,0.000000,0.000000,1.000000,14.454200
75%,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,35.750000,0.000000,0.000000,1.000000,31.471875
max,3.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,76.000000,1.000000,1.000000,1.000000,512.329200

In [148]:
tabzero = []
for i in range(0, 418):
    tabzero.append(0)
Cab_T = pd.Series(tabzero, name="Cabin_T")
Xtest = Xtest.join(Cab_T)
p_test = rf.predict(Xtest)

ValueError: columns overlap but no suffix specified: Index(['Cabin_T'], dtype='object')

In [144]:
Xtest.describe()

,Pclass,SibSp,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_X,sex_female,sex_male,Age,emb_C,emb_Q,emb_S,Fare,Cabin_T
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.0
mean,2.265550,0.447368,0.016746,0.043062,0.083732,0.031100,0.021531,0.019139,0.002392,0.782297,0.363636,0.636364,30.272590,0.244019,0.110048,0.645933,35.541956,0.0
std,0.841838,0.896760,0.128474,0.203240,0.277317,0.173797,0.145320,0.137177,0.048912,0.413179,0.481622,0.481622,12.634534,0.430019,0.313324,0.478803,55.867684,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,23.000000,0.000000,0.000000,0.000000,7.895800,0.0
50%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,30.272590,0.000000,0.000000,1.000000,14.454200,0.0
75%,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,35.750000,0.000000,0.000000,1.000000,31.471875,0.0
max,3.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,76.000000,1.000000,1.000000,1.000000,512.329200,0.0

In [145]:
result = pd.DataFrame(test['PassengerId'])
pred = pd.DataFrame(p_test, columns=['Survived'])
result = result.join(pred)

In [146]:
result.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.961722
std     120.810458    0.192095
min     892.000000    0.000000
25%     996.250000    1.000000
50%    1100.500000    1.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [147]:
result.to_csv("./data/result.csv", columns=["PassengerId", "Survived"], index=False)